 
.bannerContainer {
    display: block;
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

.bannerContainer::before {
    content: "";
    position: absolute;
    width: 200vw;
    height: 100vh;
    top: -16%;
    left: -15%;
    z-index: -1;
    background: url('../media/melBanner.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    transform: rotate(355deg);
}

.bannerCol h1 {
    font-weight: bolder;
    font-size: clamp(1.5rem, 3.5vw, 3rem);
}

.bannerCol p {
    font-size: clamp(1.2rem, 2.5vw, 1.5rem);
    padding: 0;
    margin: 0;
}

.bannerRow {
    height: 90vh;
}

.datepicker {
    padding-top: 20rem;
    width: 15rem;
}


/* Override Mui themes on DatePicker */
.css-1sumxir-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
    color: red !important;
}

.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: red !important;
}

.css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: red !important;
}

.Mui-selected {
    will-change: background-color;
    background-color: red !important;
}

.MuiButton-text {
    color: red !important;
}
