
/* Latest News */
.Latestall {
  margin-bottom: 200px;
}
.titleall {
    width: 10%;
    position: relative;
    height: 1%;
    background-color:#bf0404 ;
   border: none;
   font-size: 3px;
   color:#bf0404;
   margin-bottom: 2%;
   
  }
  .caroucard .Card{
    border: none;
  }
  .caroucard a {
    text-decoration: none;
    font-weight: bolder;
    color:#1a1a1a;
    line-height: 1.1;
    font-size: 18px;
    font-family: 'nunito' sans-serif;
    
  }
  
  .caroucard a:hover {
    text-decoration:underline;
    font-weight: bolder;
  
  }
  
  .caroucard span{
    margin-left: 5px;
    color: #666666;
    font-size: 11px;
    text-transform: uppercase;
  }
  .year {
    margin-right: 10px;
    margin-left: -20px;
  }
  
  .h4 {
    font-family: 'nunito' sans-serif;
      font-weight: 700;
  }
  
  .p1 {
    font-size: 14px;
    line-height: 1.8;
    color: #333333;
    text-align: center;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  
  .sisliall1 {
    width: 85%;
    margin: auto;
    
  }

  .cardtextall {
    font-size: 14px;
    line-height: 1.7;
    padding-bottom: 25px;
  }

  .hh4 {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #999999;
    font-family: 'nunito' sans-serif;
}