* {
    margin: 0;
    padding: 0;
}

.mainwrks {
    width: 100%;
    height: 100vh;
    margin: 0px;
}

.vidwrks {
    width: 100%;
    height: 80vh;
    object-fit: cover;
}

.bannerwrks {
    position: absolute;
    display: flex;
    overflow: hidden;
    width: 100%;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 2px;

  }

.bannerwrks::after {
    content: ""; 
    position: absolute;
    width: 100%;
    top: 65%;
    z-index: 1;
  
    transform: skewY(3deg)
               translateY(92%);
    width: 100%;
    height: 25%;
    background-color: #fff;
}

.bannerwrks::before {
    content: ""; 
    position: absolute;
    top: -21%;
    z-index: 1;

    transform: skewY(0deg)
                translateY(100%);
    width: 100%;
    height: 20%;
    background-color: #ffffff;
}

.overlaywrks::after {
    content: ""; 
    position: absolute;
    top: -49%;
    z-index: 1;

    transform: skewY(3deg)
                translateY(92%);
    width: 100%;
    height: 63%;
    background-color: rgba(0,0,0,0.7);
}

.overlaywrks {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: none;
    display: flex;
}

.titlewrks {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 20%;
    font-size: 30px;
    line-height: 1.5;
    font-weight: 700;
    -webkit-text-fill-color: #ffffff;
    background-color: inherit;
    background-clip: inherit;
}

.pwrks {
    color: #ffffff;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 300;
}

.contentwrks {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.contentimgwrks {
    margin-right: 20px;
}

.contentpwrks {
    margin-top: 10px;
}

.contentawrks {
    margin-left: 25px;
    margin-right: 25px;
    display: flex;
}

@media screen and (max-width: 815px) {
    .contentwrks {
        flex-direction: column;
    }

    .bannerwrks {
        height: 85vh;
    }

    .overlaywrks::after {
        height: 68%;
    }

}

@media screen and (max-width: 425px) {
    .titlewrks {
        font-size: 20px;
        line-height: 1;
        font-weight: 600;
    }

    .pwrks {
        font-size: 15px;
        line-height: 1;
        font-weight: 150;
    }

}

@media screen and (max-width: 364) {
    /* .bannerwrks {
        padding-right: 20px;
    } */
}