* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   font-family: 'Nunito', sans-serif;;
  }
  
  .home,
  .Autolistings,
  .About,
  .Testimonials,
  .sign-up,
  .Testimonials,
  .News,
  .Contact{
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
  }
  
  .home {
    background-image: url('./images/img-1.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
  }
  
  .Autolistings {
    background-image: url('./images/img-2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
  }
  
  .About{
    background-image: url('./images/img-7.jpg');
    background-position: center;
    background-size: fill;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
  }
  
  .Testimonials {
    background-image: url('./images/img-5.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
  }
  
  .sign-up {
    background-image: url('./images/img-7.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
  }
  
  .News{
    background-image: url('./images/img-6.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
  }
  
  .Contact{
    background-image: url('./images/img-5.jpg');
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size:clamp(50px, 20vw,100px) ;
  
  }
  /* Latest News
  .titleall {
    width: 10%;
    position: relative;
    height: 1%;
    background-color:#bf0404 ;
   border: none;
   font-size: 3px;
   color:#bf0404;
   margin-bottom: 2%;
  }
  .caroucard .Card{
    border: none;
  }
  .caroucard a {
    text-decoration: none;
    font-weight: bolder;
    color:#1a1a1a;
    line-height: 1.4;
    font-size: 18px;
  }
  
  .caroucard a:hover {
    text-decoration:underline;
    font-weight: bolder;
  
  }
  
  .caroucard span{
    margin-left: 5px;
    color: #666666;
    font-size: 11px;
    text-transform: uppercase;
  }
  .year {
    margin-right: 10px;
    margin-left: -20px;
  }
  
  .hh4 {
    font-size: 16px;
    font-family: Playfair Display;
    font-weight: 400;
    font-style: italic;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #999999;
    background-clip: inherit;
    background-color: inherit;
    -webkit-text-fill-color: #999999;
  }
  .h4 {
    font-family: 'Raleway' !important;
      font-weight: 400 !important;
  }
  
  .p1 {
    font-size: 14px;
    line-height: 1.8;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #333333;
  } */